@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
}

body {
  @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50 transition-colors duration-300;
}
